     html, body { height: 100%; margin: 0; padding: 0;}
     #map-canvas { height: 100%; width:70%;  position: fixed; float: left;}
     #eventList-container {
       font-size: 10px;
       height: 100%;
       float: left;
       width: 30%;
       overflow-y: auto;
       background-color: red;
       opacity: 0.6;

     }
     #container{
     	background-color:red;
      text-align: center;
     }

     form{
      display:inline-block;
       text-align: center;
     }
     input[type=submit]{
       color: blue;
       margin: 0 auto;
     }
     #container{
       width: 50%;
       margin: 0 auto;
     }

     label, input{
       display: block;
       color: blue;
       font-size: 2em;
     }

     h1{
       text-align: left;
       color: blue;
     }
